[submodule "themes/even"]
	path = themes/even
	url = https://github.com/markushlang/hugo-theme-even.git
[submodule "themes/--force"]
	path = themes/--force
	url = https://github.com/markushlang/hugo-theme-even
